#certificate{
    border: 2px solid black;
    width:500px;
    height:300px;
}
.logoImgs{
    width: 17%;
    height: auto;
}
#logosDiv,#titleDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}